<ul id="ensemble-members">
  <%= for {_, instrument} <- @ensemble do %>
    <li><%= instrument %></li>
  <% end %>
</ul>

<.join_ensemble_link ensemble_id={@ensemble_id} />


<%= if Enum.count(@ensemble) > 0 do %>
  <button id="generate-score" phx-click="generate-score" phx-disable-with="Generating Score...">Generate Score</button>
<% end %>

<%= if @score do %>
  <button id="clear-score" phx-click="clear-score">Clear Score</button>

  <.current_score_page src={Score.current_page(@score)} page_number={@score.current_page} />

  <%= for {page, index} <- Enum.with_index(@score.pages, 1) do %>
    <.score_page_preview src={page} page_number={index} current_page={@score.current_page} />
  <% end %>
<% end %>

