<%= if @ensemble_id do %>
  <form id="select-instrument" phx-change="select-instrument">
    <fieldset {if @score_page, do: %{disabled: true}, else: %{}}>
      <select name="instrument">
        <%= for inst <- @current_user.instruments do %>
          <option value="">Select your instrument</option>
          <option value={inst}><%= inst %></option>
        <% end %>
      </select>
    </fieldset>
  </form>
<% end %>

<%= if @bad_ensemble_id do %>
  No existing ensemble found with id <b><%= @bad_ensemble_id %></b>
<% end %>

<%= if @score_page do %>
  <.current_score_page src={@score_page} />
<% end %>
