<button id="start-ensemble" phx-click="start-ensemble">Start Ensemble</button>

<form id="join-ensemble" phx-submit="join-ensemble">
  <input type="text" placeholder="Ensemble ID" />
  <button type="submit">Join Ensemble</button>
</form>

